{% extends 'base.html' %} {% block title %} Sahabat Bacarita {% endblock %} {% block body %}
<body>
    <img src="{{ url_for('static', filename='src/img/SR element.png' ) }}" class="position-absolute bottom-0 end-0 d-none d-lg-block" alt="" />
    <img src="{{ url_for('static', filename='src/img/SR element 2.png' ) }}" class="position-absolute bottom-0 start-0 d-none d-lg-block" alt="" />
    <header>
        <nav class="navbar navbar-expand-lg bg-white position-absolute w-100 top-0">
            <div class="container">
                <a class="navbar-brand" href="/"><img src="{{ url_for('static', filename='src/img/SARITA LOGO 2.png' ) }}" alt="SARITA LOGO" /></a>
                <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-lg-auto mb-2 mb-lg-0 gap-lg-3 align-items-center">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Tentang</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Kontak</a>
                        </li>
                        {% if current_user.is_not_authenticated %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Profil </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Lihat Profil</a></li>
                                <li><a class="dropdown-item" href="{{ url_for('auth.logout' ) }}">Keluar</a></li>
                            </ul>
                        </li>
                        {% endif %}
                        <li class="nav-item ms-lg-3 mt-3 mt-lg-0">
                            <a class="btn btn-yellow fw-bold rounded-3" role="button" href="#loginModal" data-bs-toggle="modal" data-bs-target="#loginModal">Masuk</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="container">
            <div class="row pt-5">
                <div class="col-12 d-flex flex-column align-items-center mt-5">
                    <a href="#" class="mb-5"><img src="{{ url_for('static', filename='src/img/SARITA LOGO.png' ) }}" class="hero-img" alt="" /></a>
                    <div class="text-center mb-5">
                        <p>
                            <strong>SARITA</strong> adalah tempat kamu bisa berbagi cerita dan keluh kesah yang selama ini kamu pendam <br />
                            namun kamu belum mendapatkan tempat yang aman dan nyaman untuk berbagi kisah yang ingin kamu sampaikan
                        </p>
                    </div>
                    <a href="{{ url_for('auth.register' ) }}" role="button" class="btn btn-yellow fw-bold px-4 py-2 rounded-3 mb-3 btn-lg">Mulai Bacarita</a>
                    <a href="#" class="link-dark">Pelajari selengkapnya</a>
                </div>
            </div>
        </div>
    </main>
    <footer></footer>

    <!-- LOGIN MODAL -->
    <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content rounded-4 p-lg-3">
                <!-- <div class="modal-header">
                    <h1 class="modal-title fs-5" id="loginModalLabel">Masuk</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div> -->
                <div class="modal-body">
                    <form action="" method="post" class="mb-3">
                        <div class="mb-4 text-center">
                            <h4 class="fw-bold">Masuk</h4>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="emailAddress" name="emailAddress" placeholder="name@example.com" />
                            <label for="emailAddress">Alamat Email</label>
                        </div>
                        <div class="form-floating mb-4">
                            <input type="password" class="form-control" id="userPassword" name="userPassword" placeholder="********" />
                            <label for="userPassword">Kata Sandi</label>
                        </div>
                        <button type="submit" class="btn btn-yellow">Masuk</button>
                    </form>
                    <span>Belum punya akun? <a href="#registModal" class="link-purple" data-bs-toggle="modal" data-bs-target="#registModal">Daftar disini</a></span>
                </div>
                <!-- <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div> -->
            </div>
        </div>
    </div>
</body>
{% endblock %}
